<%- include('partials/header') %>
<%- include('partials/nav-auth') %>
<main>
    <section id="summary">
        <h2>Summary</h2>
        <% let allMemos = [...new Set(history.map(el => el.memo))].filter(memo => typeof memo == 'string' && memo.length > 0) %>
        <p>Total minutes logged per memo/goal</p>

        <section id="plot">
            <section id="labelSide">
                <% for (let item of data) { %>
                    <div class="barLabels"><%= item.memo %></div>
                <% } %>
            </section>
            <section id="barSide">
                <% for (let item of data) { %>
                    <div class="bar-container">
                        <div class="bar"></div>
                        <div class="bartext"><%= `${item.duration} mins` %></div>
                    </div>
                <% } %>
            </section>
        </section>
    </section>
    <section id="updateDetailsBox" class="hide gridForm">
        <label for="newMemo">New memo</label><input id="newMemo" type="text">
        <label for="newDuration">New duration</label><input id="newDuration" type="number" min=0 max=60>
        <button id="updateMemoBtn">Send update</button>
        <p class='hide' id="updateErrorP">Please select a session to update, and fill in at least one the two fields.</p>
    </section>
    <section id="allHistory">
        <ul>
            <% let sessionDays = [...new Set(history.map(el => el.createdAt.toDateString()))] %>
            <% for (let day of sessionDays) { %>
                <h2><%= day %></h2>
                <ul>
                    <% let sessionList = [...new Set(history.filter(el => el.createdAt.toDateString() == day))] %>
                    <% for (let session of sessionList) { %>
                        <li
                            data-id="<%= session._id %>"
                        > 
                            <%= `${session.sessionType}: ${session.duration} ${session.duration == 1 ? 'minute' : 'minutes'}` %> <span class="sessionMemo"><%= session.memo && `${session.memo}`%></span> <a href="#updateDetailsBox" class="update">Update</a> <span class="delete">Delete</span>
                        </li>
                    <% } %>
                </ul>
            <% } %>
        </ul>
    </section>
</main>
<script src="https://d3js.org/d3.v7.min.js"></script>
<script src="js/updateDelete.js"></script>
<%- include('partials/footer') %>