<%- include('partials/header') %>
<%- include('partials/nav-auth') %>

    <h2>Today's timers:</h2>
    <section id="updateDetailsBox" class="hide gridForm">
        <label for="newMemo">New memo</label><input id="newMemo" type="text">
        <label for="newDuration">New duration</label><input id="newDuration" type="number" min=0 max=60>
        <button id="updateMemoBtn">Send update</button>
        <p class='hide' id="updateErrorP">Please select a session to update, and fill in at least one the two fields.</p>
    </section>
    <section>
        <ul>
            <% for (let i = 0; i < timersToday.length; i++) { %>
                <li
                    data-id="<%= timersToday[i]._id %>"
                >
                    <%= `${timersToday[i].sessionType}: ${timersToday[i].duration} ${timersToday[i].duration == 1 ? 'minute' : 'minutes'}` %><span class="sessionMemo"> <%= timersToday[i].memo &&`${timersToday[i].memo}` %></span> <span class="update">Update</span> <span class="delete">Delete</span>
                </li>
            <% } %>
        </ul>
    </section>

<script src="js/updateDelete.js"></script>
<%- include('partials/footer') %>
