<%- include('partials/header') %>
<%- include('partials/nav-auth') %>

    <h2>Today's timers:</h2>
    <%- include('partials/update-box') %>
    <section id="today">
        <ul>
            <% for (let i = 0; i < timersToday.length; i++) { %>
                <li
                    data-id="<%= timersToday[i]._id %>"
                >
                    <%= `${timersToday[i].sessionType}: ${timersToday[i].duration} ${timersToday[i].duration == 1 ? 'minute' : 'minutes'}` %><span class="sessionMemo"> <%= timersToday[i].memo &&`${timersToday[i].memo}` %></span> <span class="update">Edit</span> <span class="delete">Delete</span>
                </li>
            <% } %>
        </ul>
    </section>
</main>
<%- include('partials/footer') %>
<script src="https://cdn.jsdelivr.net/npm/d3@7"></script>
<script src="../../js/updateDelete.js"></script>
<script src="../../js/modal.js"></script>
<script src="../../js/bargraph.js"></script>
<script src="../../js/menu.js"></script>
</body>
</html>